<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html" :: head></head>
<body>


<!-- Header -->
<header th:replace="fragments/header_.html" header></header>

<!-- Main -->
<section id="main" class="wrapper">
    <strong><div th:text="${board.title}" style=""></div></strong>
    <div><span th:text="${board.user.id}"> </span> | <span th:text="${#temporals.format(board.createdTime,'yyyy-MM-dd  HH:mm')}"></span></div>
    <hr>
    <div style="min-height: 200px" th:text="${board.text}"></div>
    <!--<a th:href="@{'/board/'+${board.idx}+'/delete'}" class="button special">글 삭제</a>-->
    <a onclick="confirm_delete();" class="button special">글 삭제</a>
    <script>
        var idx = "[[${board.idx}]]";
        function confirm_delete() {
            if (confirm('정말 삭제하시겠습니까?')) {
                location.href = '/board/'+idx+'/delete';
            }
        }
    </script>
    <a th:href="@{'/board/'+${board.idx}+'/update'}" class="button special">글 수정</a>

</section>

<!-- Footer -->
<footer th:replace="fragments/footer.html" :: footer></footer>

</body>
</html>