<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html" :: head></head>
<body>

<!-- Header -->
<header th:replace="fragments/header_.html" :: header></header>

<!-- Main -->
<section id="main" class="wrapper">
    <table>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Writer</th>
            <th>Created Time</th>
            <th>Updated Time</th>
        </tr>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.idx}"> </td>
            <td>
                <a th:href="@{'/board/'+${board.idx}}">
                    <span th:text="${board.title}"></span>
                </a>
            </td>
            <td th:text="${board.user.getId()}"></td>
            <td th:text="${#temporals.format(board.createdTime,'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#temporals.format(board.updatedTime,'yyyy-MM-dd HH:mm')}"></td>
        </tr>
    </table>
    <a href="/board/new" class="button">글 작성</a>
</section>

<!-- Footer -->
<footer th:replace="fragments/footer.html" :: footer></footer>

</body>
</html>