<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html" :: head></head>
<body>

<!-- Header -->
<header th:replace="fragments/header_.html" :: header ></header>

<!-- Main -->
<section id="main" class="wrapper">
    <form th:action="@{/login}" th:object="${user}" method="post">
        <div>
            <div class="4u 12u$(4)">
                <input style="" type="text" th:field="*{id}" required placeholder="ID">
            </div> <br>
            <div class="4u 12u$(4)">
                <input type="password" th:field="*{password}" required placeholder="PASSWORD">
            </div>
            <input type="submit" name="" value="로그인">
        </div>
    </form>

    계정이 없으신가요?<a href="signup"> <strong>sign up</strong></a>
</section>

<!-- Footer -->
<footer th:replace="fragments/footer.html" :: footer ></footer>

</body>
</html>