<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
  <div th:if="${session.user == null}">
    <form th:action="@{/login}" th:object="${user}" method="post">
      <input type="text" th:field="*{id}" required> <br>
      <input type="password" th:field="*{password}" required> <br>
      <input type="submit" name="" value="로그인">
    </form>
    <script th:if="${session.user.getLoginFailedCount()!=0}"> alert("아이디 혹은 비밀번호가 일치하지 않습니다.") </script>
    계정이 없으신가요? <a href="/signup"><strong>회원가입하기</strong></a>
  </div>
  <div th:unless="${session.user == null}">
    <a href="/mypage">마이페이지로 이동</a>
  </div>
  </body>
</html>
