<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html" :: head></head>
<body>

<!-- Header -->
<header th:replace="fragments/header_.html" :: header></header>
<!-- Main -->
<section id="main" class="wrapper">
<div th:if="${session.user == null}">
    <form enctype="multipart/form-data" th:action="@{/signup}" th:object="${user}" method="post">
      <input type="text" th:field="*{id}" required> 아이디<br>
      <input type="password" th:field="*{password}" required> 패스워드<br>
      <input type="text" th:field="*{name}" > 이름<br>
      <input type="text" th:field="*{email}" > 이메일<br>
      <input type="text" th:field="*{phone}" > 전화번호<br>
      <input type="submit" value="회원가입">
    </form>
  </div></section>

<!-- Footer -->
<footer th:replace="fragments/footer.html" :: footer ></footer>

</body>
</html>