<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head.html" :: head>
	</head>
	<body class="landing">

		<!-- Header -->
			<header th:replace="fragments/header_.html" :: header>
			</header>

		<!-- Banner -->
		<section id="banner">
			<div th:if="${session.user == null}">
				<h2 >Hi. This is Transit.</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<ul class="actions">
					<li>
						<a href="/board/list" class="button big">게시판으로 바로가기</a>
					</li>
				</ul>
			</div>
			<div th:unless="${session.user == null}">
				<h2 > <span th:text="${session.user.getId()}"></span> WELCOME </h2>
				<p>안녕하세요. 커뮤니티 스터디입니다.</p>
				<ul class="actions">
					<li>
						<a href="/board/list" class="button big">게시판으로 바로가기</a>
					</li>
				</ul>
			</div>
		</section>

		<!-- One -->
			<section th:replace="fragments/one.html" :: one>
			</section>

		<!-- Footer -->
			<footer th:replace="fragments/footer.html" :: footer>
			</footer>

	</body>
</html>